.boody {
  
}

.header {
  display: flex;
  max-width: 1140px;
  min-height: 74px;
  margin: 0 auto 0 auto;
  border: 1px solid red;
  justify-content: space-between;
}

.header__logo {
  
}

.header__container {
  display: flex;
  align-items: center;
}

.header__container_film {
  margin: 0 20px 0 0;
  border: 1px solid red;
  text-decoration: none;
  color: black;
  text-align: center;
}

.header__container_save {
  margin: 0 50px 0 0;
  text-decoration: none;
  color: black;
  text-align: center;
}

.header__container_box {
  display: flex;
  height: 32px;
  width: 100px;
  /* border: 1px solid red; */
  align-items: center;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  justify-content: space-around;
}

.header__container_box_link {
  border-radius: 48px;
  text-decoration: none;
  color: black;
  text-align: center;
}

.header__container_acc_circle {
  background-color: #F9F9F9;
  height: 26px;
  width: 26px;
  border-radius: 50px;
  text-align: center;
}

.header__container_acc_img {
  height: 10.4px;
  width: 10.4px;
  margin: 7px 7px 7px 7px;
}

